.content_box{:style => 'margin:20px auto;display:block;max-width:400px;'}
  %form{:action => '/admin', :method => :get, :id => 'search-form'}
    %table{:style => 'width:100%;'}
      %tr
        %td.bold User Search: 
      %tr
        %td{:style => 'text-align:left;'}
          %input{:type => :text, :size => 25, :name => 'term', :style => 'height:27px;'}
        %td{:style => 'text-align:right;'}
          %input{:type => :submit, :value => 'search', :class => 'search-button button'}
#user-table-holder.sortable-table-holder
  = render :partial => 'admin/user_table'
