
<form   id="submission_list" action="/admin/edit_clade" method ="post">
<div id="menulist2">
  
<%=  render :partial => "submit" %>

</div>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
</form>
<div id="defnition_div" style="display:none" style='position: absolute; width: 10%; display: none;' class="popup">



<div id="drag_demo_4">



  

</div>
<%#*<script type="text/javascript">%>

    <%#*new Draggable('speciesdiv',{});%>
<%#*</script>%>

</div>
<div id="view_box" style="display:none" style='position: absolute; width: 10%; display: none;' class="popup">

  

<div id="drag_demo_3">




</div>


</div>