html {
    min-width: 600px;
    height:100%;
}

body, div, td, th, h2, h3, h4 {
    font-family: verdana,sans-serif;
    font-size:    x-small;
    voice-family: "\"}\"";
    voice-family: inherit;
    font-size: 13px;
    color: #555;
}
.clearhack { display: inline; } /*Clears Box Model Hack in IE5*/

body {
    background: #EDEBE3;
    color: #333;
    padding: 0em 0px 0em 0px;
    margin: 0;
    height:98%;
}

a, .linkText { color: #06C; cursor: pointer }
a:hover, .linkText:hover { color: #333 }
a:active, .linkText:active { color: #000; cursor: wait }

p { line-height: 140%; }


h1 {
    font-size: 180%;
    margin: 0;
}

h1 a { text-decoration: none; color: #333; }
h1 a:hover { border-bottom: 1px dotted #666; color: #000; }

h2 {
    font-size: 140%;
    padding-bottom: 2px;
    margin: 0;
}

table{
    border-collapse:collapse;
}
th{
    color:#555;
}
td{
    padding:2px 3px;
}
p.note {
    background: #EEE;
    padding: 4px;
    font-family: tahoma;
    font-size: 85%;
    line-height: 130%;
    margin-top: 0;
}

span.required{
    font-weight: lighter;
    font-size: 90%;
    color: #444444;
}

/*new stuff */
.bold{
    font-weight:bold;
}
.button{
    border-radius:2px;
    color:green;
    font-size:12px;
    font-weight:normal;
}

.account_nav, .account_nav div{
    font-size: 14px;
}

.account_buttons{
    margin-top: 10px;
}

.account_buttons a{
    margin:5px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.account_buttons a:hover{
    background-color: #eeeeee;
}

.account_box{
    font-size:1.5em;
    margin:60px auto;
    padding:10px;
    border-radius:3px;
    background-color:#d5d5d5;
    width:300px;
    border:1px solid #999;
}
.attachment-link:link{
    color:blue;
}
.new_account_box{
    font-size: 1.5em;
    margin: auto;
    padding: 10px;
    border-radius: 3px;
    background-color: #d5d5d5;
    width: 350px;
    border: 1px solid #999;
}
.add-citation-box{
    /*background-color:#ffe8ac;*/
    border:1px solid #777;
    border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    max-width:600px;
    padding:10px;
    margin:10px 0px;

}
.citations-table td, .citations-table th{
    padding:2px 4px;
    text-align:left;
}
.clade-name-table tr{
    border-top-width: 2em;
}
.clade-name-table .name{
    text-align:left;
}
.clade-name-table .name p{
    margin-bottom:0;
    margin-top: 1em;
}
.close-button{
    width:12px;
    color:#555;
    font-weight:bold;
    float:right;
    margin-bottom:10px;
    font-size:13px;
    clear:both;
    display:block;
}
.content_box{
    margin: 20px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color:#FFF7CD;
}
.content_title{
    font-size: 14px;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:20px;
    margin-left:10px;
    margin-right: 20px;
}
.close-button:hover{
    cursor:pointer;
    color:#333;
}
.disabled{
    color:#777;
}
.editor-box{
    padding:10px;
    border-radius:4px;
    background-color:#FFF7CD;
    border:1px solid #999;
    clear: both;
    width: 750px;
    /*max-width: 600px;*/
    /*min-width: 400px;*/
    margin: auto auto;
    background-color:#BCE1A8;
}
.expander{
    font-weight:bold;
    font-size:10px;
}
.float-window{
    background-color:#FFF7CD;
    /*border: 1px solid #777;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    position:absolute;
    top:150px;
    left:300px;
    z-index:50;
    padding:0px;
    box-shadow: 2px 2px 2px #777;
    */
}
.float-window-content{
    margin:10px 2px 5px 10px;
    float:left;
}

#help-button{
    border:1px solid darkred;
    display:inline-block;
    float:right;
    margin:2px;
    height:22px;
    width:20px;
    background-size:11px 10px;
    font-size:10px;
    font-weight:bold;
}

.meta-table-div{
    margin:10px;
    padding:5px;
    border:2px solid #bbb;
    border-radius:4px;
    background-color:#eee;
    width:90%;
}

.name{
    font-weight:bold;
}
.outlink{
    border: 2px solid #00008B;
}
.outlink-arrow{
    border:none;
}
.outlink-link:link{
    color:blue;
    text-decoration: none;
}
.outlink-link:hover{
    color:blue;
}
.outlink:hover{
    cursor:pointer;
}
.section{
    border: 1px solid #999;
    border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    padding:5px;
}
.section-tab-div{
    min-width:97%;

}
.select-table{
    text-align: left;
}
.select-table tr:hover{
    cursor:pointer;
    background-color:#eee;
}

.sortable:hover{
    cursor:pointer;
    background-color:#90FFD9;
}
.sortable>a:hover{
    color:#0066CC;
}
.sortable-table tr {
    height:30px;
}
.sortable-table td{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

@media only screen and (min-width: 768px){
    .sortable-table td{
        max-width: 400px;
    }
}

.sortable-table-div{
    padding:5px;
    background-color:#FFF7CD;
    margin:10px auto;
    border:1px solid #999;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}

.sortable-table-loading{
    text-align: center;
    margin: 2em;
}
.sortable-table-header-row{
    background-color:#D4E8FF;
}

/*
.sortable-table-header-row th:hover{
   background-color:#90FFD9;
}
*/
.sortable-table-holder{
    max-width:660px;
    padding:5px;
    float:center;
    margin:0px auto;
}
.submit_button{
    border:1px solid #aaa;
    font-size:11px;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    background-color:#e5e5e5;
    color:blue;
    padding-top: 0.25rem;
}
.submit_button:hover{
    cursor:pointer;
    background-color:#eee;
}
.specifier-outlinks td img.outlink{
    border:2px solid #999;
    height:18px;
}
.specifiers-table{
    font-weight:bold;
    text-align:left;
    border-collapse: collapse;
}
.specifiers-table thead{
    background-color:#fff;
}
.spec_table{
    margin:5px 2px;
    background-color:#FFF7CD;
}
.status-change-div{
    float:left;
    clear:both;
    width:91%;
    border:1px solid #999;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    background-color:#BDEEFF;
    margin:10px 15px 10px 20px;
    padding:5px;
    max-height:200px;
    overflow:auto;
}
.status-change-table{
    float:left;
    font-size:5px 8px;
    clear:both;
    margin: 0px 0px 0px 10px;

}
.table-controls{
    font-weight:normal;
}
.title{
    font-size: 14px;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:20px;
}
.window-title-bar{
    float:left;
    text-align:left;
    width:100%;
    font-weight:bold;
    background-color:#ffe8ac;
    border-bottom:1px solid #777;
    padding: 0px;
    border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    margin:0px;
    cursor:pointer;
}
#add-citation-form{
    float:left;
}
#contents{
    padding-bottom:10px;
}
#create_clade{
    background-color: #FFFAE1;
    border:1px solid #777;
    padding:15px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    margin: 5% 10%;
    float: left;
    width:600px;
}
#clade_content{
    margin:10px;
    float:left;

}
#float-window-content-holder{

    overflow:auto;

}
#float-window-holder{

}

#new_abbreviation{
    display:block;
    font-weight:bold;
    background-color:#90ee90;
    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding:2px 4px;
    min-height:15px;
    border:1px solid #aaa;
    max-width:430px;
}
#modal-window img{
    margin-top:30px;
}
#my-submissions-table{
    text-align:left;
}
.odd-row td{
    background-color:#ddd;
    font-weight:normal;
}
.even-row td{
    background-color:#eee;
    font-weight:normal;
}

.odd-row:hover td:not(.action-cell),
.even-row:hover td:not(.action-cell){
    background-color:#add8e6;
    /*cursor:pointer;*/
}
#my-submissions-table{
    margin:auto;
    width: 100%;
}
#my-submissions-table td{

}
#my_submission_holder{
    margin:auto auto;
    padding:10px;
    border:1px solid #999;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    max-width:600px;
    background-color: #FFF7CD;
}
#new-citation-form-entry table{
    font-weight:bold;
}
#new-cladename-float{

}
#new-cladename-window{
    float:left;
    margin:20px 20px 10px 20px;
    width:90%;
    height:80%;
}
#new-cladename-save-submit{

    display:inline-block;
    float:left;
    clear:both;
    margin-left:5px;

}
#new-cladename-tabs{
    margin:0px 20px;
    padding:0px;
}

#new-cladename-tabs li.tab{
    display:inline;
    list-style:none;
    text-decoration:none;
    border-radius:3px 3px 0px 0px;
    -webkit-border-radius:3px 3px 0px 0px;
    -moz-border-radius:3px 3px 0px 0px;
    border:1px solid #777;
    margin:0px 0px 0px 1px;
    padding:2px 4px 0px 4px;
    font-weight:bold;
    background-color:#ffe8ac;
}

#new-cladename-tabs li.tab:hover{
    cursor:pointer;
}

#new-cladename-content{
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border:1px solid #777;
    background-color:#FFFAE1;
    width:100%;
    padding:10px 15px;
    margin:0px 10px;
    height:100%;
    float:left;
}

#new-cladename-tabs li.active-tab{
    border-bottom: 1px solid #FFFAE1;
    background-color:#FFFAE1;
}
#new-preexisting-table{
    padding: 0.5rem 1rem;
    margin-top:10px;
    background-color: #eee;
    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-top:1px solid #ccc;
    border-right:1px solid #bbb;
    border-left:1px solid #ccc;
    border-bottom:1px solid #bbb;
}
#new-establish-box{
    background-color:#ddd;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    width:287px;
    padding:4px;
    margin-left:2px;
    margin-top:5px;
    border:1px solid #aaa;
}
#new-preexisting-box{
    background-color:#ddd;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    width:287px;
    padding:4px;
    margin-left:1px;
    margin-bottom:15px;
    margin-top:5px;
    border:1px solid #aaa;
}
#opt-out-box{
    background-color:#eee;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    width:312px;
    padding:4px;
    margin-left:1px;
    margin-bottom:15px;
    margin-top:5px;
    border:1px solid #aaa;
}
#new-specifier-content{
    float:left;
    min-height:250px;
    min-width:450px;
    left:250px;
    top:100px;
}
#new-cladename-synonyms{
    width:340px;
    height:180px;
}
#new_name_string{
    font-weight:bold;
    font-family: "Source Code Pro", Monaco, monospace;
    clear:both;
    letter-spacing: -0.04em;
    min-height:17px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color:#BDEEFF;
    padding: 2px 4px;
    /*max-width:700px;*/
    /*min-width:400px;*/
    border:1px solid #aaa;
}
#search_table_div{
    padding:5px;
    margin-top:20px;
    background-color:#FFF7CD;
    border:1px solid #aaa;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
#search_table_div tr.data-row:hover{
    cursor:pointer;
}
#search_table, .sortable-table{
    width:100%;
    margin:auto;
    border-collapse:collapse;
}
#search_table th, .sortable-table th{
    text-align:left;
    border:1px solid #aaa;
    padding:2px;
}

#search_table tr td,
.sortable-table tr td{
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    border-bottom:1px solid #bbb;
    border-right:1px solid #bbb;
    padding:5px;
}


tr td.action-cell,
.sortable-table tr td.action-cell{
    background-color: transparent;
    border-color: transparent;
}


#spinner{
    border:none;
    background:none;
    padding:0px;
    color:#666;
    margin-left:10px;
    display:inline-block;
    font-weight:bold;
}
#spinner img{
    width:13px;
}
#submission_content{
    background-color:#FFFAE1;
    border:1px solid #999;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    padding:10px;
    margin:20px;
}
#synonyms-table{
    margin-top:10px;
    float:left;

}
#synonyms-table th, #synonyms-table td{
    text-align:left;
    padding:2px 15px;
}
#synonyms-table tr:hover{
    background-color: #e5e5e5;
    cursor:pointer;
}
/*
#user_submissions_table{
  text-align:left;
  margin:20px;
}
#user_submissions_table tr td.data-column{
  min-width:130px;
}*/

#search_results{
    text-align:left;
    margin:20px 0px;
}

#search_results td{
    min-width: 180px;
}
#user-table-holder{
    max-width:740px;
}
#users_table_div{
    padding:10px;
    background-color:#FFF7CD;
    margin:10px auto;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}
#view-tabs{
    margin-top:20px;
    margin-bottom:2px;
}
#view-tabs li{
    text-decoration: none;
    font-weight: bold;
    display:inline;
    list-style-type: none;
    padding:2px 5px;
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-right:1px solid #999;
    border-radius:3px 3px 0px 0px;
}

/* WILL Paginate style*/
.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
}
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
}
.flickr_pagination .disabled {
    color: #aaaaaa;
}
.flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
}
.flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
}
.flickr_pagination a:hover, .flickr_pagination a:focus {
    border-color: #003366;
    background: #0063dc;
    color: white;
}
.flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
}
.flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px;
}
.flickr_pagination .previous_page {
    margin-right: 1em;
}
.flickr_pagination .next_page {
    margin-left: 1em;
}

dl.inline dt{
    float: left;
    width: 9rem;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
}

dl.inline dd{
    margin-left: 10rem;
}


/*
BEGIN SOME BOOTSTRAP
 */

.form-control,
.container-fluid,
.form-group{
    box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    /*cursor: default;*/
    cursor: not-allowed;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}

/*
Bootstrap grid system w/ media queries
 */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
.col-xs-pull-12 {
    right: 100%;
}
.col-xs-pull-11 {
    right: 91.66666667%;
}
.col-xs-pull-10 {
    right: 83.33333333%;
}
.col-xs-pull-9 {
    right: 75%;
}
.col-xs-pull-8 {
    right: 66.66666667%;
}
.col-xs-pull-7 {
    right: 58.33333333%;
}
.col-xs-pull-6 {
    right: 50%;
}
.col-xs-pull-5 {
    right: 41.66666667%;
}
.col-xs-pull-4 {
    right: 33.33333333%;
}
.col-xs-pull-3 {
    right: 25%;
}
.col-xs-pull-2 {
    right: 16.66666667%;
}
.col-xs-pull-1 {
    right: 8.33333333%;
}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-12 {
    left: 100%;
}
.col-xs-push-11 {
    left: 91.66666667%;
}
.col-xs-push-10 {
    left: 83.33333333%;
}
.col-xs-push-9 {
    left: 75%;
}
.col-xs-push-8 {
    left: 66.66666667%;
}
.col-xs-push-7 {
    left: 58.33333333%;
}
.col-xs-push-6 {
    left: 50%;
}
.col-xs-push-5 {
    left: 41.66666667%;
}
.col-xs-push-4 {
    left: 33.33333333%;
}
.col-xs-push-3 {
    left: 25%;
}
.col-xs-push-2 {
    left: 16.66666667%;
}
.col-xs-push-1 {
    left: 8.33333333%;
}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.col-xs-offset-0 {
    margin-left: 0%;
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0%;
    }
}

/* Bootstrap Forms */

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="file"] {
    display: block;
}
input[type="range"] {
    display: block;
    width: 100%;
}
select[multiple],
select[size] {
    height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
}
.form-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999999;
}
.form-control::-webkit-input-placeholder {
    color: #999999;
}
.form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eeeeee;
    opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control,
input[type="button"][disabled]{
    cursor: not-allowed;
}
textarea.form-control {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"].form-control,
    input[type="time"].form-control,
    input[type="datetime-local"].form-control,
    input[type="month"].form-control {
        line-height: 34px;
    }
    input[type="date"].input-sm,
    input[type="time"].input-sm,
    input[type="datetime-local"].input-sm,
    input[type="month"].input-sm,
    .input-group-sm input[type="date"],
    .input-group-sm input[type="time"],
    .input-group-sm input[type="datetime-local"],
    .input-group-sm input[type="month"] {
        line-height: 30px;
    }
    input[type="date"].input-lg,
    input[type="time"].input-lg,
    input[type="datetime-local"].input-lg,
    input[type="month"].input-lg,
    .input-group-lg input[type="date"],
    .input-group-lg input[type="time"],
    .input-group-lg input[type="datetime-local"],
    .input-group-lg input[type="month"] {
        line-height: 46px;
    }
}
.form-group {
    margin-bottom: 15px;
}
.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio label,
.checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
    margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
    cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
    cursor: not-allowed;
}
.form-control-static {
    margin-top: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
    min-height: 34px;
    box-sizing: border-box;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
    padding-left: 0;
    padding-right: 0;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
select.input-sm {
    height: 30px;
    line-height: 30px;
}
textarea.input-sm,
select[multiple].input-sm {
    height: auto;
}
.form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.form-group-sm select.form-control {
    height: 30px;
    line-height: 30px;
}
.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
    height: auto;
}
.form-group-sm .form-control-static {
    height: 30px;
    min-height: 32px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
select.input-lg {
    height: 46px;
    line-height: 46px;
}
textarea.input-lg,
select[multiple].input-lg {
    height: auto;
}
.form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.form-group-lg select.form-control {
    height: 46px;
    line-height: 46px;
}
.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
    height: auto;
}
.form-group-lg .form-control-static {
    height: 46px;
    min-height: 38px;
    padding: 11px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.has-feedback {
    position: relative;
}
.has-feedback .form-control {
    padding-right: 42.5px;
}
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px;
}
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #3c763d;
}
.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
}
.has-success .form-control-feedback {
    color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
    color: #8a6d3b;
}
.has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3;
}
.has-warning .form-control-feedback {
    color: #8a6d3b;
}
.has-error .help-block,
.has-error.help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
}
.has-error .form-control-feedback,
.has-error.message{
    color: #a94442;
}
table .has-error.message{
    margin-right: 2rem;
}
.has-feedback label ~ .form-control-feedback {
    top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
    top: 0;
}
.help-text{
    color: #737373;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
@media (min-width: 768px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-inline .form-control-static {
        display: inline-block;
    }
    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control {
        width: auto;
    }
    .form-inline .input-group > .form-control {
        width: 100%;
    }
    .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .radio,
    .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .radio label,
    .form-inline .checkbox label {
        padding-left: 0;
    }
    .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
    .form-inline .has-feedback .form-control-feedback {
        top: 0;
    }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 27px;
}
.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}
@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 11px;
        font-size: 18px;
    }
}
@media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px;
    }
}

/*
Bootstrap override
 */

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.form-control {
    height: 24px;
    padding-top: 5px;
    padding-bottom: 0;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    border: 0.5px solid #cccccc;
    border-radius: 1.5px;
}

label{
    margin-bottom: 1px;
}
.container:before, .row:before {
    display: table;
    content: " ";
    box-sizing: border-box;
}
.row:after, .container:before{
    clear: both;
    box-sizing: border-box;
}

#existing_submissions{
    margin-left: 5em;
}

#existing_submissions th{
    text-align: left;
}

#existing_submissions td,
#existing_submissions th{
    min-width: 75px;
}

#existing_submissions td>span,
#existing_submissions th>span{
    margin-right: 0.5em;
}

.red{ color: darkred; }
.green{ color: green; }
.mtformicon{ margin-top: 15px; }

.introduction p > a {
    white-space: nowrap;
}

.submission-holder{
    max-width: 750px;
    min-width: 400px;
    margin: auto auto;
}

.centered{
    text-align: center;
}