<% Submission::CladeNames.each do |clade_key, clade_type|
  clade_key = Submission.const_get(clade_key)
%>
  <option value="<%= clade_key %>"><%= clade_type %>  <% if clade_key == Submission::MinimumCladeDirectlySpecifiedAncestor %>
      <span class="required">(rare)</span>
    <% end %>
  </option>
<% end %>