
<label for="new_type">Definition Type:</label>
<select data-bind="value: clade_type" name="cladename[clade_type]" id="new_type" class="value-input form-control">
  <%= render 'cladename/clade_type_options_for_select' %>
</select>
<%= render 'cladename/clade_type_definitions' %>