<!-- ko if: pr.hasCrownSpecifier() -->
<h2>Crown specifier:</h2>
<!-- /ko -->
<!-- ko foreach: specifiers() -->
  <!-- ko if: specifier_type() == 'crown' -->
    <p class="help-block">
        <span class="help-text">Clade: </span>
      <!-- ko ifnot: pr.hasIncompleteCrownSpecifier() -->
        <a data-bind="attr: { href: specifier_crown_link, title: specifier_crown_name}">
            <em data-bind="text: specifier_crown_name"></em>
        </a>
      <!-- /ko -->
      <!-- ko if: pr.hasIncompleteCrownSpecifier() -->
        <span class="help-text"><em>Please make a selection</em></span>
      <!-- /ko -->
      <input class="submit_button" type="button" value="Edit" data-bind="click: pr.ba.editSpecifier" />&nbsp;
    </p>
  <!-- /ko -->
<!-- /ko -->
<!-- ko ifnot: pr.hasCrownSpecifier() -->
  <button type="button"
          class="submit_button mw-25"
          data-bind="click: pr.ba.addCrownSpecifier">
    Add specifier</button>
<!-- /ko -->