<h3>Specifiers: <span class="help-text" data-bind="ifnot: specifiers().some(s => s.specifier_type() == 'apomorphy')">(<em>Please add a specifier</em>)</span></h3>
<!-- ko if: specifiers().some(s => s.specifier_type() == 'apomorphy') -->
  <table id="" class="specifiers-table sortable-table form-control-static">
  <thead>
  <th>Apomorphy Character</th>
  <th>Character description</th>
  <th>Author(s)</th>
  <th>Publication Year</th>
  </thead>
  <tbody data-bind="foreach: specifiers()">
  <!-- ko if: specifier_type() == 'apomorphy' -->
  <tr data-bind="css: { 'even-row': $index() % 2 == 0, 'odd-row': $index() % 2 == 1 }">
    <td>
      <span data-bind="ifnot: specifier_character_name, css: {'has-error message': specifier_character_name() == ''}">Please enter a character name</span>
      <span data-bind="text: specifier_character_name"></span>
      <span data-bind="if: specifier_character_name && specifier_name">as displayed in</span>
      <i data-bind="text: specifier_name"></i>
      <span data-bind="ifnot: specifier_name, css: {'has-error message': specifier_name() == ''}">Please enter a Taxon name</span>
    </td>
    <td data-bind="attr: { title: specifier_character_description }">
      <span data-bind="text: specifier_character_description"></span>
      <span data-bind="ifnot: specifier_character_description, css: { 'has-error message': specifier_character_description() == '' }">Please enter a character description</span>
    </td>
    <td data-bind="attr: { title: displayAuths }">
      <span data-bind="text: displayAuths, css: { 'has-error message': displayAuths().includes('Please update') }"></span>
    </td>
    <td>
      <span data-bind="text: specifier_year"></span>
      <span data-bind="ifnot: specifier_year, css: { 'has-error message': specifier_year() == '' }">Please enter a publication year.</span>
    </td>
    <td class="action-cell">
      <input class="submit_button" data-bind="click: pr.ba.editSpecifier" type="button" value="Edit"/>&nbsp;
      <input class="submit_button" data-bind="click: pr.ba.deleteSpecifier" type="button" value="Delete"/>
    </td>
  </tr>
  <!-- /ko -->

  </tbody>
</table>
<!-- /ko -->
<button type="button"
        class="submit_button mw-25"
        data-bind="click: pr.ba.addApomorphySpecifier">
  Add specifier</button>