#create_clade
  .form-group.col-sm-12
    %h2 New Submission
    %hr
  %form{:action => save_path, :method => :post}
    %input{:type => :hidden, :name => :submission_id, :value => :new}
    .form-group.col-sm-12
      %label{:for => 'name'}
        Name
        %span.required (Required)
      %input.form-control{ :name => 'name', :id => 'name', :type => :text }
    #opt-out-box.col-sm-12
      %label
        %input#opt-out{:type => "checkbox" , :name => "opt-out"}
        Opt-out of Phylocode
      #opt-out-table{:style => 'display:none;padding-top:10px;'}
        .form-group.col-sm-12
          %label{:for => 'reason'} Reason for Opt-out
          %textarea.form-control#reason{ :name => 'reason', :rows => 8 }
    %input#create_button.button{:value => 'create', :type => 'submit' }
