!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h3 Phyloregnum Account Activated!
    %p Your Phyloregnum account is now active.
    %p 
      You can now log in and begin to create and review clade names by clicking on the following link:
      %a{:href => 'http://sandbox.phyloregnum.org'} Sign In to Phyloregnum
      or navigating to http://sandbox.phyloregnum.org in your browser.