!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h3 Phyloregnum Account Creation Pending
    %p= "Hello #{@user.full_name}"
    %p 
      An account at
      %a{href: "phyloregnum.org"} phyloregnum.org
      has been registered to
      = @user.email
    %p This account is pending approval. You will receive another email when your account is active.
    %p
      Please contact us at
      %a{href: 'mailto:help@phyloregnum.org'} help@phyloregnum.org
      with any questions.


