!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h3 Phyloregnum Account Created
    %p 
      = "You have received this email to inform you that an account on phyloregnum.org has been registered to #{@user.email}"
    %p 
      = "You will receive another email when your account is active."

