%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h3 Phyloregnum Account Activated!
    %p= "Hello #{@user.full_name}"
    %p= "Your Phyloregnum account for the email \"#{@user.email}\" is now active."
    %p 
      You can now log in and begin to create and review clade names by clicking on the following link:
      %a{:href => 'http://www.phyloregnum.org/login'} Sign In to Phyloregnum
      or navigating to http://www.phyloregnum.org in your browser.