<div class="add-author-container">
  <div class="author">
    <label>First: <input  type="text" data-name-type="first"  name="new_author[first_name][]" class="author-first-name"  /></label>
    <label>Middle: <input type="text" data-name-type="middle" name="new_author[middle_name][]"/></label>
    <label>Last: <input   type="text" data-name-type="last"   name="new_author[last_name][]" class="author-last-name"/></label>
    <div class="author-controls">
      <a href class="add-another-author">[add another]</a>
      <a href class="remove-author">[remove]</a>
      <span class="author-validation-message"></span>
    </div>
  </div>
</div>