.container-fluid
  .row
    .form-group.col-sm-12
      %label{ :for => 'submission_search' } Submissions search
      %input.form-control#submission_search{ :type => 'text', :name => 'term' }
  .row
    .form-group.col-sm-12
      %label{ :for => 'clade_type' } Definition type
      %select.form-group#clade_type{ :name => 'clade_type' }
        %option{:value => 'all' } All
        = render 'cladename/clade_type_options_for_select'
  .row
    .form-group.col-sm-12
      %input.button#search{:type => :submit, :value => 'search'}