.content_box{:style => 'margin:20px auto; max-width:390px;'}
  %form{:action => '/submissions', :method => :get, :style => 'display: inline-block;' }
    = render :partial => 'shared/submissions_search_inputs'
#submissions_table_div.sortable-table-holder
  = render :partial => 'submissions/submissions_table'