<div id="footer_container">
  <p>www.phyloregnum.org 2020 (beta)</p>
  <p>
    View a guide to the <a href="<%= ApplicationHelper::GuideUrl %>">requirements for phylogenetically defined names</a> on GitHub. 
  </p>
  <p>RegNum is an ongoing open source project led by Nico Cellinese and Chris Dell. We developed this app in our
    spare time and with sporadic small funds. We encourage and welcome feedback. If encounter any issues or you would like to join our team, please
    let us know at <b>ncellinese [at] flmnh.ufl.edu</b>.</p>
</div>