<div style="padding-top:5px;color:#777;clear:both;max-width:600px;margin:auto auto;">
  <p style="text-align: center;">www.phyloregnum.org 2020 (beta)</p>
  <p>RegNum is an ongoing open source project led by Nico Cellinese and Chris Dell. We developed this app in our
    spare time and with sporadic small funds. We encourage and welcome feedback. If you would like to join our team, please
    let us know.</p>
</div>